# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-workspace
*.sublime-project

# Angular
.angular/
.angular/cache/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
